<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'index' %}">
      LINKR
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{% url 'links' %}">
        ShortLinks
      </a>
      <a class="navbar-item" href="{% url 'about' %}">
        about
      </a>
      </div>
    </div>

    <div class="navbar-end">
      {% if user.is_anonymous %}
      <a class="navbar-item" href="{% url 'login' %}">
              Log in
            </a>
          {% else %}
            {% if user.is_superuser %}
            <a class="navbar-item" href="/admin">admin dashboard</a>
            {% endif %}
            <a class="navbar-item" href="{% url 'logout' %}">logout</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>